doctype html
html
    head
        title= `${title}`
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/styles.css')

    body
        section.mb-2
            nav(class='navbar navbar-expand-lg navbar-dark bg-dark')
                a(class='navbar-brand' href='/') Simple Registration App
                button(class='navbar-toggler' type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
                    span(class='navbar-toggler-icon')

                div(class='collapse navbar-collapse' id='navbarNav')
                    ul(class='navbar-nav ml-auto')
                        li(class='nav-item')
                            a(class='nav-link text-uppercase', href='/') Home
                        li(class='nav-item text-uppercase')
                            a(class='nav-link', href='/registrations') Registration List
                
        block content