extends layout

block content
    section.row
        div.col.text-center
            h2.mt-4 Thank You For Registering!
            p We look forward to speaking with you soon.

    div.row
        div.col.text-center
            a(class='btn btn-primary btn-lg my-4' href='/') Back to Home